[2015-03-27 09:00] anarfox opened #1 "Control behavior on loading from notification"
Right not, when the user taps the notification, the app is reloaded. Which is fine if the app is in the background. But if the app is already in the foreground, it would be very handy if you cold control the behavior manually through an event.

[2015-03-27 11:54] amrsobhy commented on #1
Will be added in the next update.

[2015-04-14 16:07] bplogan opened #2 "Can't build apk from adobe phonegap build"
Hi there,

I have added the plugin to my config file like in your adobe build instructions.  I am getting the following error when trying to build:

ror - Plugin error (you probably need to remove plugin files from your app): Error during processing of action! Attempting to revert... Failed to install 'com.pushbots.push':Error: Uh oh! "/tmp/gimlet/1539/0aa515d0-d49b-11e4-ae34-92c8bcc89984/www_andr

[2015-04-14 16:15] #2 closed, assigned to nobody

[2015-05-11 12:11] bplogan opened #3 "setAlias not working"
I am using phonegap build, I can receive push notifications to my app when I send to all devices.  I want to send to specific devices so I am trying to utilize the setAlias function.

[code]

The device registers in my dashboard but the alias is always blank.  What am I doing wrong?

[2015-05-15 17:57] amrsobhy commented on #3
The problem is probably that setAlias function is being executed immediately before device is fully registered. Try to set time out for 30 seconds or a minute before you set the alias and see if it works.

[2015-05-18 14:53] olliebennett opened #4 "Receive is spelled incorrectly"
Affected Version: `1.2.4`.

The word `receive` is incorrectly spelled as `recieve`.

Remember:

This is done in a few places, including `Reciever.java`. See [search results](https://github.com/pushbots/phonegap/search?utf8=%E2%9C%93&q=recieve).

This is important as these relate to public API methods (see `public void onMsgRecieve`).

[2015-05-18 17:44] #4 closed, assigned to nobody

[2015-05-18 17:45] #3 closed, assigned to nobody

[2015-05-18 17:45] AbdullahDiaa commented on #1
It has been added for android in v1.2.4.

[2015-05-18 17:45] #1 closed, assigned to nobody

[2015-05-18 18:36] olliebennett commented on #4
Great - thanks very much! :)

[2015-08-12 02:00] kevincobain2000 opened #5 "iOS - Handling notification alerts via JS when app is in foreground"
Hi I am using ionic/phonegap (angular)
Is there a way to handle push notification alert when the app is in foreground via JS?

Right now after the ios build I have add the following code...

https://github.com/pushbots/phonegap/blob/master/src/ios/PushbotsDelegate.m#L13

[code]

However, on android it doesn't show the alert when app is in foreground. Same thing would be nice to have for the iOS.

[2015-08-13 13:00] #5 closed, assigned to nobody

[2015-08-13 13:23] kevincobain2000 commented on #5
woah that was quick! Thanks

[2015-08-13 19:11] benthepoet opened #6 "Add a method for recording opened analytics"
This plugin is great but I'd really like if there was a method for recording that a notification has been opened. I see that this is available in the REST API (https://pushbots.com/developer/api/1#analytics), so hopefully it's doable.

[2015-08-15 14:18] NgYueHong opened #7 "Pushbots with surprising little info for paid package"
Hi,

I am writing it here because I can't find a way to contact to PushBots from it's website (There is no contact us page!!!). I have opened conversation in my free account, but so far I get no respond at all from them. Feels like they don't want to do business?

What I want to ask is:
1. On the pricing page, it only listed the limitation on the number of push message, but why is that in my free

[2015-08-17 18:18] amrsobhy commented on #7
Already answered on your PushBots account.

[2015-08-17 18:18] #7 closed, assigned to nobody

[2015-08-23 09:18] JijeshP opened #8 "Pushbot Cordova Plugin Build Failed."
Using Plugins:
KJs-iMac:kaljacobs kaljacobs$ cordova plugin ls
android.support.v4 21.0.1 "Android Support v4"
com.pushbots.push 1.2.7 "Pushbots"
cordova-plugin-facebook4 1.1.0 "Facebook Connect"
cordova-plugin-statusbar 1.0.1 "StatusBar"
cordova-plugin-vibration 1.2.0 "Vibration"
cordova-plugin-whitelist 1.0.0 "Whitelist"
cordova.plugin.googleplus 3.0.1 "Google+"
nl.x-services.plugins.socialsharin

[2015-08-24 06:02] JijeshP commented on #8
https://github.com/phonegap-build/PushPlugin/issues/573
https://github.com/Wizcorp/phonegap-facebook-plugin/issues/1028
https://github.com/Wizcorp/phonegap-facebook-plugin/pull/1032

[2015-08-24 10:15] JijeshP commented on #8
@AbdullahDiaa @amrsobhy Conflict with https://github.com/Wizcorp/phonegap-facebook-plugin
any solution ?

[2015-08-24 11:41] JijeshP commented on #8
Updated Both plugin to "android-support-v13.jar" and that's works fine

[2015-08-24 11:41] #8 closed, assigned to nobody

[2015-08-25 13:16] JijeshP opened #9 "Heads Up Notification"
@AbdullahDiaa @amrsobhy is there away to make a heads up notification ?

[code]

[2015-09-16 13:03] Bergrebell opened #10 "Pushbots overrides didRegisterForRemoteNotificationsWithDeviceToken method on ios7"
I've built an phonegap app using pushbots which runs just finde on ios8! But when I try to run the app on my old Iphone4 running ios 7.1.2 it gives me a warning when compiling the app:

It seems like pushbots is overriding a built in method. Here is the method in the pushbots appdelegate:

[code]

and here the other one:

[code]

I'm not quite sure what to do now ... commenting out the method in t

[2015-09-18 10:54] magic1979 opened #11 "Error after update Xcode and ios9"
hi all,
after update Xcode 7.0 and IOS 9 i have this error

after cordova plugin add com.pushbots.push

Undefined symbols for architecture i386:
"_OBJC_CLASS_$_Pushbots", referenced from:
objc-class-ref in PushbotsDelegate.o
objc-class-ref in PushbotsPlugin.o
(maybe you meant: _OBJC_CLASS_$_PushbotsPlugin)
ld: symbol(s) not found for architecture i386
clang: error: linker command failed with exit

[2015-09-19 08:34] Memleak2 opened #12 "getToken not found"
Error on method not found when i try to call "getToken"
Any idea?

[2015-10-01 09:47] AbdullahDiaa commented on #11
Should be fixed in 1.2.8

[2015-10-01 09:47] #11 closed, assigned to nobody

[2015-10-08 08:33] hejosadi opened #13 "initializeWithAppIdAndSenderId blocked the main thread"
10-08 01:44:37.890    1086-1086/? W/PluginManager﹕ THREAD WARNING: exec() call to PushbotsPlugin.initializeWithAppIdAndSenderId blocked the main thread for 151ms. Plugin should use CordovaInterface.getThreadPool().
that message appears and can not initialized
Android

[2015-10-13 01:44] schreyers commented on #12
@Memleak2 I had the same issue but hey updated the code on phonegap npm. If you are using phonegap build then you need to:

In config.xml add replace your old plugin line with:

<gap:plugin name="pushbots-cordova-plugin" source="npm" />

Then when you call for the device_token it will work. You need to call getToken after the initialize method.

Hope that helps

[2015-10-20 22:10] alonhar opened #14 "error msg when try to build"

[2015-10-20 23:11] #14 closed, assigned to nobody

[2015-10-28 10:34] AbdullahDiaa commented on #13
Issue is fixed in 1.3.x

[2015-10-28 10:34] #13 closed, assigned to nobody

[2015-10-28 10:35] AbdullahDiaa commented on #12
Issue is fixed in 1.3.x by adding on **registered** event.

[2015-10-28 10:35] #12 closed, assigned to nobody

[2015-10-28 10:35] AbdullahDiaa commented on #10
Issue is fixed in 1.3.x with **MethodSwizzle**

[2015-10-28 10:35] #10 closed, assigned to nobody

[2015-11-05 04:07] cmboros opened #15 "Xcode 7.1 archive error"
I got this 2 error when i try to archive with xCode 7.1
ld: bitcode bundle could not be generated because 'app/Plugins/com.pushbots.push/Pushbots.framework/Pushbots(PBAlias.o)' was built without full bitcode. All object files and libraries for bitcode must be generated from Xcode Archive or Install build for architecture arm64

Ld /Users/user/Library/Developer/Xcode/DerivedData/app-eizjmqhelknstvd

[2015-11-05 15:00] srbasraa opened #16 "Payload in IOS"
Hello there,
         I want to open a certain a message in app after the user clicks on the notification received via PushBots. It works super well on Android but don't see any support on iOS. Please suggest as it is very urgent!

Thanks

Shahid Rasool

[2015-11-05 22:46] timwright35 opened #17 "Notification when app is not loaded"
Hello, I have found that if the app has been loaded before but is not loaded at the moment, ie killed from memory, that notifications do not come through.  They come through if the app is currently in the foreground and if the app was in the foreground but lost focus.

Is there someway to make it so when the app is not loaded that the notifications are still coming in?

[2015-11-17 20:43] jordmax12 commented on #15
I am having this issue as well.

[2015-11-18 14:05] amrsobhy commented on #15
We have confirmed this problem with Xcode 7.1. We are working on a fix.

[2015-12-04 09:01] igorrino commented on #17
i have the same problem, How do you correct it ?

[2015-12-04 22:31] timwright35 commented on #17
No clue, I have no if it is possible based on how phonegap etc run on a device.

[2015-12-08 20:34] optikalefx commented on #15
I've got a client asking me when we'll be able to push to the app store, any ideas on this one? Can we help at all?

[2015-12-08 20:42] jordmax12 commented on #15
@optikalefx I was able to get around this by setting the value for 'ENABLE_BITCODE' in build settings to false. Not a fix by any means, but at least until Pushbots fixes it, it will work for you.

[2015-12-08 20:46] optikalefx commented on #15
@jordmax12 thank you so much!

[2015-12-16 19:06] xndrdev commented on #15
@jordmax12 Had the same issue with pushbots. Thank you a lot. Saved my life!

[2015-12-22 22:01] optikalefx opened #18 "Invalid Date error"
When calling getToken. This is testing on an actual device (iPhone 6, mobile safari, iOS 9)

[code]

[2015-12-22 22:12] optikalefx commented on #18
Sort of, its hard for me to tell when this happens. But i'm getting this error repeatedly. Trying to nail down where this might be happening.

[2015-12-23 04:21] kevincobain2000 opened #19 "Catch Notification when App is in Foreground via JS"
Is there a way to catch the following event via Javascript?

https://github.com/pushbots/phonegap/blob/master/src/ios/PushbotsDelegate.m#L16

[2015-12-23 09:38] kevincobain2000 commented on #19
something like https://github.com/pushbots/phonegap/blob/master/www/pushbots.js#L81

[code]

[2015-12-27 12:07] #15 closed, assigned to nobody

[2015-12-28 12:00] AbdullahDiaa commented on #19
You can use this listener to monitor received notifications in iOS and Android in **1.3.x**:

[code]

[2015-12-28 12:00] #19 closed, assigned to nobody

[2015-12-28 12:01] AbdullahDiaa commented on #18
Can you please update to 1.3.0 and try this method instead of getToken:

[code]

[2015-12-28 12:01] #18 closed, assigned to nobody

[2015-12-28 12:02] AbdullahDiaa commented on #17
Should be fixed with 1.3.0

[2015-12-28 12:02] #17 closed, assigned to nobody

[2015-12-28 12:09] kevincobain2000 commented on #19
@AbdullahDiaa Awesome man thanks

[2015-12-28 15:21] optikalefx commented on #18
oh wow this changed a lot. I'm not a fan of the change that requires me to have a global Pushbots off of initialize. Now I have 2 globals. PushbotsPlugin and PushBots

[2015-12-28 15:22] optikalefx commented on #18
I'll let you know how this goes, thanks!

[2015-12-29 03:51] optikalefx commented on #18
seems to be ok. Still not happy about having 2 globals

[2015-12-31 14:55] kevincobain2000 opened #21 "Latest Version 1.3.x? - cordova plugin add pushbots-cordova-plugin"
[code]

installs `1.2.8` instead of `1.3.x` but the latest documentation is for `1.3.x` isn't it?

[2015-12-31 15:40] kevincobain2000 opened #22 "Docs Fix s/registration/registered"
right at the bottom it says `registration`, I think it should be `registered`

https://pushbots.com/developer/docs/phonegap-sdk-integration

https://github.com/pushbots/phonegap/blob/master/www/pushbots.js#L55

[2016-01-03 19:05] John-C2 opened #23 "iOS Badge Handling - Functions do not exist"
According to the documentation you can use the following functions to handle iOS badges.

//Reset Badge
Pushbots.resetBadge();
//Set badge
Pushbots.setBadge(10);

but both return errors that the functions to do not exist.  Looking in the .js file for pushbots I can see that there are no functions that include the word "badge".  Other functions like Pushbots.updateAlias() work fine and the correspo

[2016-01-04 01:31] buddywa commented on #23
Yes I am also having this issue. I have badges which I can not get rid of.

[2016-01-04 11:28] amrsobhy commented on #23
Thanks for reporting this. I confirm the bug we will push an update shortly to fix this.

[2016-01-04 11:31] amrsobhy commented on #21
Fixed. Thanks

[2016-01-04 11:31] #21 closed, assigned to nobody

[2016-01-04 11:36] amrsobhy commented on #22
Thanks for reporting this. Shall be updated shortly.

[2016-01-04 12:51] kevincobain2000 commented on #22
:+1: Thanks

[2016-01-04 12:52] amrsobhy commented on #22
Fixed

[2016-01-04 12:52] #22 closed, assigned to nobody

[2016-01-04 13:21] #23 closed, assigned to AbdullahDiaa

[2016-01-04 17:05] amrsobhy commented on #16
Partially fixed in the latest release. However, only works when the app is open in iOS.

[2016-01-04 17:05] #16 closed, assigned to nobody

[2016-02-03 13:36] lricoy opened #24 "Register callbacks are lost when calling the updateAlias() or tag()"
Hi. I am having some troubles using the .updateAlias() and .tag() methods of the phonegap plugin. I am using Ionic and it appears that when I call these methods, the Pushbots object does not execute the callbacks I have set using Pushbots.on("notification:clicked") anymore. It works fine if I remove both the calls to updateAlias() and tag()

[2016-02-03 15:54] amrsobhy commented on #24
Where do you run these calls? Is that in the same file where PushBots is initialised?

[2016-02-03 15:58] lricoy commented on #24
Yes. I will show you a sample.

[2016-02-03 16:07] lricoy commented on #24
The problem occurs on the IIFE checkExistingCredentials().

[code]

[2016-02-08 19:49] ElyasX opened #25 "Record Problem Opened Push in Analytics Section"
Thanks for Your great Plugin .. no doubt its wonderful
@AbdullahDiaa @amrsobhy

but i have a problem in Recording Opened Push in my App ..
everything is o'right ..

1 : Added Plugin ( OK )
2 : Initializing Done ( OK )
3 : App Created in Pushbots Pannel ( API KEY + Sender Key Added ) ( OK )
4 : Devices Are Registered ( OK )
5 : Receiving Push on Device ( OK )
6 : Can Open PUSH with parameters added

[2016-02-18 04:14] StanleyAM opened #26 "Got EXC_BAD_ACCESS in PushbotsPlugin.m line 261"
I use pushbots-cordova-plugin version 1.3.0. When I running my app, it will hang by EXC_BAD_ACCESS problem in PushbotsPlugin.m line 261.

![2016-02-18 12 00 36](https://cloud.githubusercontent.com/assets/9450739/13133723/23662190-d639-11e5-8277-b28bbb66d258.png)

[2016-02-18 08:55] #26 closed, assigned to nobody

[2016-02-24 10:17] drigolin commented on #24
Me too. In my app seems that updateAlias and tag method doesn't work. Application registration never receive correct tag or alias. Those methods can be called anytime in the future to change alias and tag whenever we want? cordova 6 and latest plugin. Android-22 as target

[2016-02-24 10:22] drigolin opened #27 "Push notification when app is closed"
I cannot receive notification when app is closed.
Cordova v6 pushbots-plugin v1.3.1 and Android api v22 as target.
Both running on Emulator or Devices  push notifications when app isn't running are lost.
I followed the guide (video tutorial) and I have updated also the .xml files with AppID and Google Sender id.

When app is running or in foreground push works as expected.

[2016-02-24 10:45] amrsobhy commented on #27
First of all, can you use the latest version 1.3.5
Second, What's your android version?
Third, can you show us this in a screencast to be able to reproduce the problem?

[2016-02-24 13:47] drigolin commented on #27
Sorry I'm using 1.3.5
Android version on my phone is 6.0 , but i have built my cordova project for API Level 22 (Android 5.1). I used also Android 4.1 on emulator but the results are the same.
I can't do a screencast in case of push notification not arriving because nothing happen on the phone. Last thing I can do is using your sample phonegap application, and check if that is working. I was think

[2016-02-24 14:26] drigolin commented on #27
Update on that issue. On a Android 4.1.1 tablet it works fine. Seem related to Android 6.0. I'm using a Huawei Mate 8.

[2016-02-24 18:31] murilocbs opened #28 "Update alias without restart app."
Friends,

When i use on click jquery function to call Pushbots.tag("active") not work.

Its work only when i use this:
Pushbots.on("registered", function(token){
  Pushbots.untag("inactive");
  Pushbots.tag("active");
}

Who can i set in real time, without restart app? Like this:
$('.button').on('click', function() {
   Pushbots.untag("inactive");
   Pushbots.tag("active");
});

[2016-02-25 23:54] lasdou commented on #3
You must use updateAlias method in current version

[2016-02-26 00:00] lasdou opened #29 "notification:clicked event never fired"
I am trying to use this code :

`Pushbots.on("notification:clicked", function(data){
    alert("clicked:" + JSON.stringify(data));
});`

but when i click the notification, the application opens correctly but the alert is not launched, that means the notification:clicked event is not fired

My phone is a Samsung S3 4G GT-I9305

[2016-02-28 12:03] lasdou commented on #29
You can close the ticket.

The problem was on my side, i didn't use the call properly, it is working now.

Thank you.

[2016-03-01 22:03] murilocbs commented on #28
can i use onClick to set alias?

[2016-03-11 11:23] srbasraa opened #30 "Pushbots with iOS build issue"
Hey guys,
       So pushbots used to perfectly fine previously but ever since they updated their api and version, everything has gone south. i had to update my api and now i can't build my ios app with pushbots plugin
this is what i have done to narrow down the issue
- updated my cordova to 6.0
- created a fresh new project
- added ios platform
- build ios platform and it works
- added pushbots-co

[2016-03-13 09:54] tobiasmuecksch opened #31 "Background notifications"
The official [phonegap / phonegap-plugin-push](https://github.com/phonegap/phonegap-plugin-push/blob/master/docs/PAYLOAD.md#background-notifications) allows background push notifications. I want my app (iOS & android) to solve some tasks in the background when certain notifications arrive.

As far as I can tell pusbots does not support this feature.

Could you please consider adding the feature? O

[2016-03-25 08:59] huzoorbux commented on #3
How to know that user clicked on a notification i am trying it since 3 days not able to configure please help.

[2016-04-03 13:08] #29 closed, assigned to nobody

[2016-04-03 13:09] AbdullahDiaa commented on #27
This should be fixed in 1.3.6 for iOS.

[2016-04-03 13:09] #27 closed, assigned to nobody

[2016-04-03 13:10] AbdullahDiaa commented on #24
This should be fixed in 1.3.6.
You can now update the alias anywhere in your app
`window.plugins.PushbotsPlugin.updateAlias("Test");`

[2016-04-03 13:10] #24 closed, assigned to AbdullahDiaa

[2016-04-03 13:10] AbdullahDiaa commented on #28
This has been fixed in 1.3.6, you don't need to restart the app anymore.
`window.plugins.PushbotsPlugin.updateAlias("Test");`

[2016-04-03 13:10] #28 closed, assigned to nobody

[2016-04-03 13:11] AbdullahDiaa commented on #30
Please make sure you're using Xcode 7.0+

[2016-04-03 13:11] #30 closed, assigned to nobody

[2016-04-03 13:11] #25 closed, assigned to nobody

[2016-04-03 19:40] kldoon opened #32 "Registration Fail with the new update (cordova-ionic) -iOS-"
With the new update 1.3.6, the Plugin is failing to register new devices on iOS, i think the plugin crashes.
I was not able to get more details,
but i had to roll back to 1.3.5 to get it working

[2016-04-04 10:02] AbdullahDiaa commented on #32
Can you please make sure you've followed instructions in upgrade guide:
https://pushbots.com/developer/docs/phonegap-upgrade

[2016-04-05 03:10] optikalefx opened #33 "Fails to build on android"
With using github (https://github.com/pushbots/phonegap) or the official repo (pushbots-cordova-plugin) building for android fails.

cordova v 6.0.0
phonegap v 6.0.1
Mac os 10.11.13
node v 5.9.1

[code]

[2016-04-05 03:44] optikalefx commented on #33
So, it doesn't fail alone. It only fails when this plugin is also in the mix.  `https://github.com/BranchMetrics/Cordova-Ionic-PhoneGap-Deferred-Deep-Linking-SDK`  But ONLY when these two are together. It works fine if each is alone

[2016-04-07 13:21] tfohlmeister opened #34 "Re-Register not possible after unregister()"
I want to allow my users to opt-in and -out of push notifications through a simple setting.
What works great right now is the opt-out via `.unregister();`
What does not work is being able to re-register. As there is no `.register()` function I just tried to re-initialise the plugin with `$window.plugins.PushbotsPlugin.initialize(...);`.

Apparently this plugin works as a singleton, because if I ru

[2016-04-09 05:42] kldoon commented on #32
No i didn't follow that, i will give it a try,

[2016-04-09 18:54] John-C2 commented on #33
I'm getting a build failure but only when I have:
PushBots (Latest 1.3.6) and Google Maps (Latest 1.3.9) cordova-plugin-googlemaps together.
Phonegap Build cli-5.2.0

From searching around it seems to be related to the android-support module being fetched by the Google Maps plugin combined with pushbots reference to the same thing, in the attached log you will see:
Fetching plugin "cordova-plugin-

[2016-04-11 13:19] optikalefx commented on #33
this was a different error than mine, see https://github.com/BranchMetrics/Cordova-Ionic-PhoneGap-Deferred-Deep-Linking-SDK/issues/94#issuecomment-208101378 for my soltuion.

[2016-04-14 11:50] #32 closed, assigned to nobody

[2016-04-18 13:56] buddywa commented on #33
Remove the `android-support-v4.jar` in your Android `platforms/android/libs` directory.

[2016-04-19 14:28] anarfox opened #35 "Exception SharedPreferences"
When I start my Cordova app I get an exception in the LogCat:

04-19 16:20:32.510: E/PluginManager(11803): Uncaught exception from plugin
04-19 16:20:32.510: E/PluginManager(11803): java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.SharedPreferences android.content.Context.getSharedPreferences(java.lang.String, int)' on a null object reference
04-19 16:20:32.510: E/

[2016-04-21 09:48] Thiouzz opened #36 "Issue With iOS while Bulding the App"
Hello,

It tells me that the file Pushbots/Pushbots.h not found

Any clue ??

Tnaks

[2016-05-05 12:14] zaherelrody opened #37 "Android Build Error: Multiple Dex filed defined, when building with Pushbots plugin with Background-Geolocation plugin"
Dear,

I would be glad if anyone could help with this issue, my app was working fine with pushbots until i installed the plugin https://github.com/transistorsoft/cordova-background-geolocation-lt, the build error states:
'com.android.dex.DexException: Multiple dex files define Landroid/support/annotation/AnimRes;'
it is because pushbots depends on android-support-4 which uses a .jar file!
How can

[2016-05-05 12:36] amrsobhy commented on #37
try to delete android-support-4 existing jar.

[2016-05-05 13:12] zaherelrody commented on #37
i tried to but when i re-build the app it downloads it through npm as dependency for pushbots

[2016-05-17 12:25] akilud commented on #37
Hello,

I had this same problem where the app would not build due to multiple dex files, Step 1 in this page solved it for me [http://www.thedevline.com/2014/06/unexpected-top-level-exception.html](url)

[2016-05-19 05:05] akashchavanipru commented on #35
Any resolutions ??

[2016-05-19 05:05] akashchavanipru commented on #35
anarfox  have you got any solutions ?

[2016-05-20 16:17] m-vdv commented on #37
Got a similar build error (Conflict with https://github.com/danwilson/google-analytics-plugin).
I can't have Pushbots and Google Analytics plugin or the build fails.
Any simple solution available?

[2016-05-22 08:49] zaherelrody commented on #37
I found a workaround for my problem by removing the current Pushbots plugin and installing the following version of it:
[olliebennett-phonegap/Cordova Plugin for Pushbots](https://github.com/olliebennett/phonegap)
This version doesn't have a dependency on android-support-v4 that contains a **.jar** file, which is, as someone advised me, not a good approach for building phonegap/cordova plugins.

[2016-06-03 08:25] strigookuloj opened #38 "notification:clicked event never fired until restart app (android)"
This happen only immediately after the app installation in foreground and background.
After restart app the event fired successfully all the time.

Can you help me?
Thanks

[2016-07-08 19:49] louisn opened #39 "cordova build android fails with cordova-plugin-admobpro"
A build error occurs when cordova-plugin-admobpro is included with pushbots-cordova-plugin in the project.  The build output excerpt is shown below.  This can quickly be recreated by creating a new cordova project and adding the android platform plus the two plugins and then build.

:transformClassesWithDexForDebug
UNEXPECTED TOP-LEVEL EXCEPTION:
com.android.dex.DexException: Multiple dex files de

[2016-07-10 03:30] ihpalash commented on #39
Same also happening with me. Any solution found? I updated my android studio to the latest also the SDK

[2016-07-11 12:13] louisn commented on #39
I found a work around.  Instead of using pushbots-cordova-plugin from npm, obtain one of the forked versions from github like this.

cordova plugin add https://github.com/dw-diamond/phonegap.git

It is very temperamental.  I could not simply retrofit my project, I had to create a new one and be very sure not to use the npm version because if even once the npm version gets added and built, the proj

[2016-07-12 11:10] #39 closed, assigned to nobody

[2016-07-12 11:10] AbdullahDiaa commented on #39
this should be fixed in 1.3.7

[2016-07-15 15:58] joanebrown opened #40 "Receiving notifications of pushbots/instapush-laravel"
Hi!

I'm using your `pushbots/instapush-laravel` package as follow:

`Insta::Push("MyEvent", ['test1'=>'Hi!','test2'=>'1']);`

But I don't know how to use `window.plugins.PushbotsPlugin` to trigger this events...

There is any option to trigget this, get the value of `test1` and `test2` and then send the notification as I want?

Thank you very much!!

Regards!

[2016-07-23 16:44] hopesourav opened #41 "Multi-line notification for android devices not available"
Hi ,

It will be very nice if Multi-line notification can be done through the cordova/phonegap pushbot plugin.
My app currently generates ~30 letter notification which gets automatically truncated after 1st line.
This happens across all versions android OS.

Regards,
Sourav

[2016-07-24 18:45] hopesourav opened #42 "Some custom payloads and white_notification_icon.png are not compatable :("
I am using few custom payloads such as -
"InboxStyleOff" => "true"
"BigTextStyle"=> "true"
"bigText"=> "XYZ....."

However, my notification icon (white_notification_icon.png in res/drawable) turns white box again when the above payloads are used!
It works normal with "largeIcon" & "customNotificationTitle" .

Please check and let me know!

[2016-07-24 18:47] hopesourav commented on #41
Resolved!
Need to pass the below custom payloads!
"BigTextStyle"=> "true","bigText"=> "XYZ .... "

:)

[2016-07-24 18:47] #41 closed, assigned to nobody

[2016-07-26 13:29] joanebrown commented on #41
Hi! I'm trying to make this, but I don't know how...

Where do you write this `payload`? Inside your server side library or in this plugin?

I will appreciate some help :)

[2016-07-26 13:46] hopesourav commented on #41
I did that in the server side library. It just works out of the box!

Refer to the below link for reference :
 https://pushbots.com/developer/docs/android-sdk-integration

[2016-07-26 13:53] joanebrown commented on #41
Thanks for your answer! I tried with this, but doesn't work :S

[code]

I am doing something wrong? Thank you very much!

NOTE: This works, I receive the notification, but only one line.

[2016-07-26 14:15] hopesourav commented on #41
Pls find our code below.

[code]

[2016-07-26 15:26] joanebrown commented on #41
Thank you very much :)

By the way, you know how to change the color of the circle of notification?

[2016-07-26 15:42] hopesourav commented on #41
Actually, I am trying to find that myself. If I get the code, I shall post it here.
Pls post it here if you figure it out first.

:)

[2016-07-26 15:45] joanebrown commented on #41
Of course! :D Thank you very much: We keep in touch

[2016-07-29 16:55] joanebrown commented on #42
+1

[2016-07-29 16:58] joanebrown commented on #41
@hopesourav Have you know how to change the color of the circle now? Me not.

I have a question in PushBots paltform but... I have not received answer yet

[2016-07-29 17:21] amrsobhy commented on #41
You should add a drawable titled white_notification_icon to your app.
that'll replace the icon for android 5.0+.

The icon should be white-on-transparent background, to quickly generate small icons with the correct settings, we recommend using the Android Asset Studio.
http://romannurik.github.io/AndroidAssetStudio/icons-notification.html

[2016-07-29 17:25] joanebrown commented on #41
Hi @amrsobhy  and... do you know where I need to add this image? I don't have idea

[2016-07-29 17:28] amrsobhy commented on #41
@joanebrown drawable folder in your Android project

[2016-07-29 17:29] joanebrown commented on #41
thnks! i will try it. i using ionic for that. there is any way to do that without change in the platform directory? :)

[2016-07-29 17:30] hopesourav commented on #41
@amrsobhy could you pls comment on issue #42 ... I this its a bug :(

[2016-07-29 17:31] hopesourav commented on #41
@joanebrown  let me know if can change the color of the icon

[2016-07-29 17:39] joanebrown commented on #42
Why you closed this issue?

[2016-07-29 17:40] hopesourav commented on #42
@joanebrown this is not closed. #41  is closed.

[2016-07-29 17:41] joanebrown commented on #41
I don't know how to change the color of the circle.. and I have a `white_notification_icon.png` inside my `platforms\android\res\drawable-hdpi` but doesn't work.

[2016-07-29 17:41] joanebrown commented on #42
Yes, I had a mistake hehe

[2016-07-29 17:43] hopesourav commented on #42
Let @AbdullahDiaa  reply

[2016-08-25 18:42] AbdullahDiaa commented on #37
@zaherelrody  The problem should be fixed with 1.3.9 by using framework instead of dependency.

[2016-08-25 18:42] #37 closed, assigned to nobody

[2016-09-01 14:12] hafizramli opened #44 "Pushbots + Phonegap/cordova"
Hi there i need help for anybody got experience handling the pushbots and cordova..I am using pushbots to retrieve the push notification..But i cant solve the problem how can i make deep linking for example,when the notification popup,i i click the notification,it will redirect to the page that i want..i already watch the tutorial from pushbots, but the tutorial use the java android studio..it tot

[2016-10-07 02:06] optikalefx opened #45 "getRegistrationId never gets Id"
I haven't changed this code in while, it was working before, but now I never get registration IDs.

[code]

[code]

It's always null

[2016-10-07 02:14] optikalefx commented on #45
With some debugging, your success is getting called, but with no "data". https://cl.ly/3i3F2B3Z201O

[2016-10-07 09:46] amrsobhy commented on #45
What platform are you testing on? Android or iOS?

[2016-10-07 12:15] optikalefx commented on #45
iOS 10
On Fri, Oct 7, 2016 at 5:46 AM amrsobhy notifications@github.com wrote:

[2016-10-07 20:50] dhwalin opened #46 "Device with iOS 10 not getting registered"
I installed plugin, works fine in android. But in iOS device not getting register. Somehow I saw registered device iphone 4s. User might have old iOS. But I having iPhone 5 with iOS 10 not getting registered.

[2016-10-10 10:03] amrsobhy commented on #46
We are going to test and reproduce the problem and get back to you as soon as we can.

[2016-10-11 01:39] optikalefx commented on #45
Hey, this is for a client, is there anyway I could pay for some premium support on this? We'd love to have this working again.

[2016-10-11 04:01] willex commented on #46
Bump, same issue on my side. From what I found it has to do with the Push Notification flag that is now mandatory in XCode 8. Unfortuantely I'm using a build service so I can't set the flag manually. You probably have to update the iOS SDK for that?

[2016-10-11 21:16] planetcrypton opened #47 "On notification:received never called (iOS10)"
My handler for the notification:received-event never gets reached - not even the simplest console.log("Say something");
I'm testing on iOS10.
I've never setup a handler for this event before, so I have no idea whether it has something to do with iOS10 or not :)

[2016-10-13 13:33] Kyvyas opened #49 "Notification:clicked/received not being called"
Hi, we're trying to enable deep linking in our app so that users can click on a notification which takes them to a specific screen. Currently, we see logging for initialisation - "Initialise Success" and registration, however we do not seem to receive any response from notification clicked/received. Here is our code:

[code]

PushNotificationsService.init() is called when the app opens within our

[2016-10-13 13:44] amrsobhy commented on #49
@Kyvyas  You are using a deprecated syntax. Please, use the latest SDK and syntax.

[2016-10-13 13:55] amrsobhy commented on #47
@planetcrypton does the onClick work?

[2016-10-13 13:59] planetcrypton commented on #47
That works just fine

On Thu, Oct 13, 2016 at 3:55 PM, amrsobhy notifications@github.com wrote:

##

Mvh Sjoerd Kok

[2016-10-13 14:02] amrsobhy commented on #47
@planetcrypton are you able to test the same app on an iOS 9 device and see if both work also out of the box or not?

[2016-10-13 14:02] Kyvyas commented on #49
Thanks for your reply. We're working with the ionic framework

We tried `PushbotsPlugin.on` syntax and it also did not work - any help appreciated

[2016-10-13 14:07] amrsobhy commented on #49
Are you using the syntax below with the latest SDK?

[code]

If yes, then please provide more info/log to reproduce the problem. Also what's your platform and OS version?

[2016-10-13 14:16] Kyvyas commented on #49
We've tried that, as detailed in the documentation but received the following error:

[code]

We are using Ionic and building onto a Nexus 5x on Android 7

[2016-10-13 14:18] planetcrypton commented on #47
I think I might be, I'll let you know.

On Thu, Oct 13, 2016 at 4:02 PM, amrsobhy notifications@github.com wrote:

##

Mvh Sjoerd Kok

[2016-10-13 14:19] amrsobhy commented on #49
Are you able to try on a different testing device with Android 5? Need to know if it's Android 7 related bug or an implementation issue.

[2016-10-13 14:21] amrsobhy commented on #45
We are working on reproducing this bug. If you have more info please do share.

[2016-10-13 19:04] planetcrypton commented on #47
The exact same result with iOS9 as with iOS10

On Thu, Oct 13, 2016 at 4:18 PM, Sjoerd Kok planetcrypton@gmail.com wrote:

##

Mvh Sjoerd Kok

[2016-10-14 23:13] #31 closed, assigned to nobody

[2016-10-14 23:13] #45 closed, assigned to nobody

[2016-10-14 23:14] AbdullahDiaa commented on #46
The problem should be resolved with 1.4.0

[2016-10-14 23:14] #46 closed, assigned to nobody

[2016-10-14 23:15] AbdullahDiaa commented on #47
The problem should be resolved with 1.4.0
Please let me know if it still exists.

[2016-10-14 23:15] #47 closed, assigned to nobody

[2016-10-14 23:28] #34 closed, assigned to nobody

[2016-10-14 23:29] AbdullahDiaa commented on #34
You can now toggle Notifications on and off without re-register using this function

[code]

[2016-10-14 23:29] AbdullahDiaa commented on #36
This should be resolved with 1.4.0

[2016-10-14 23:29] #36 closed, assigned to nobody

[2016-10-14 23:49] AbdullahDiaa commented on #38
Can you please send me more details on Android version/device and copy of logcat with any error in case there're any?

[2016-10-15 16:42] AbdullahDiaa commented on #49
You should include latest SDK to be able to use on listener.
The problem should be fixed in latest release.

[2016-10-15 16:42] #49 closed, assigned to nobody

[2016-10-15 16:43] AbdullahDiaa commented on #33
That should be fixed with latest release.

[2016-10-15 16:43] #33 closed, assigned to nobody

[2016-10-17 11:23] Kyvyas commented on #49
Thanks for your response. The code you've updated looks like it for ios, not android, however so hasn't made any difference to our issue. Also - looking like the change hasn't been released yet, it's still on 1.3.9.
https://www.npmjs.com/package/pushbots-cordova-plugin

I'm still not able to get any response to a clicked notification. I'm using the updated SDK(1.4. and am not receiving any errors,

[2016-10-17 13:25] optikalefx commented on #33
Awesome, will test. Thanks!

[2016-10-17 13:46] planetcrypton commented on #47
Looks like the Cordova / NPM repository still is at 1.3.9. I'll test as
soon as 1.4.0 is out.

On Sat, Oct 15, 2016 at 1:15 AM, Abdullah Diaa notifications@github.com
wrote:

##

Mvh Sjoerd Kok

[2016-10-17 20:41] amrsobhy commented on #47
@planetcrypton add it directly from github
`cordova plugin add https://github.com/pushbots/phonegap/`

[2016-10-19 08:47] planetcrypton commented on #47
Just did that: now both "notification:received" AND "notification:clicked"
don't work (anymore)...

On Mon, Oct 17, 2016 at 10:41 PM, amrsobhy notifications@github.com wrote:

##

Mvh Sjoerd Kok

[2016-10-19 09:24] amrsobhy commented on #47
Please share your log with your comments in the future so we can have any
idea of what is going on.
On Wed, 19 Oct 2016 at 9:47 am, planetcrypton notifications@github.com
wrote:

[2016-10-19 11:12] planetcrypton commented on #47
I've checked Remote Notifications under Capabilities / Background Modes.
The log remains empty when the notification is received. When I enter the notification this is the log:

[code]

While I was expecting output, as in your examples, since I'm using your example code in my deviceReady handler:

[code]

[2016-10-19 11:15] amrsobhy commented on #47
Can you try logcat on Android Studio? Just export your app and run it on a device that is connected to a computer that has android studio and you will be able to check logcat. More helpful log should be there

a 

On Wed, 19 Oct 2016 at 12:12 pm planetcrypton

<
mailto:planetcrypton notifications@github.com

a, pre, code, a:link, body { word-wrap: break-word !important; }

I've checked Remote Noti

[2016-10-19 11:28] planetcrypton commented on #47
Do you mean debug an iOS app+device in Logcat?

[2016-10-19 11:44] amrsobhy commented on #47
@planetcrypton oh, no. sorry my bad, thought this ticket was an Android one.

Can you share your Xcode log?

[2016-10-19 12:01] planetcrypton commented on #47
@amrsobhy oh no worries :)
Here's the log of my latest attempt, which seems to have some extra lines than [my previous](https://github.com/pushbots/phonegap/issues/47#issuecomment-254783256)...
The logs coming in after this are caused by the app resuming. I left those out.
So in short: No logs by Xcode while receiving. Only the following lines when entering the alert (, which prior to v1.4.0 worke

[2016-10-23 23:28] eohnuhs commented on #35
Any solution? I'm having same issue and cracking my head for days but cant fix it. Everything was fine previously and suddenly it came out this error where i din make any changes. Anyone know what is the issue?

[2016-10-24 10:04] amrsobhy commented on #35
will be resolved in our next update, should come out in a few days

[2016-10-24 20:15] planetcrypton commented on #47
Hi @amrsobhy and @AbdullahDiaa, any news on this issue?

[2016-10-25 07:05] planetcrypton commented on #44
Use the `.on("notification:clicked", yourHandler)` handler.
In `yourHandler` you route as you normally would in your app.
Where to route to, could be 'alert-dependent' since you're able to pass any custom data into the payload of the alert.
Here's a simple example (using Ember.JS) and the payload data is `{ "post_item": 8217 }`:

[code]

[2016-10-25 19:29] AbdullahDiaa commented on #6
The method for recodring opened analytics will be automatically executed with the new SDK on notification click.

[2016-10-25 19:29] #6 closed, assigned to nobody

[2016-10-27 16:53] AbdullahDiaa commented on #42
This has been fixed with latest Android library.

First generate small Icon:
https://romannurik.github.io/AndroidAssetStudio/icons-notification.html#source.space.trim=1&source.space.pad=0&name=ic_stat_pushbots_sicon

Then copy it to _platforms/android/res_ folder, must be titled _ic_stat_pushbots_sicon_

And for phonegap build, check out this link for more details:
https://github.com/phonegap/buil

[2016-10-27 16:53] #42 closed, assigned to nobody

[2016-10-27 16:54] AbdullahDiaa commented on #35
Fixed with 1.4.0

[2016-10-27 16:54] #35 closed, assigned to nobody

[2016-10-27 16:55] AbdullahDiaa commented on #40
Can you please elaborate more?

[2016-10-27 16:56] AbdullahDiaa commented on #9
This has been added to 1.4.x.

Sending a notification with payload `"priority":"high"` should do it.

[2016-10-27 16:56] #9 closed, assigned to nobody

[2016-10-27 16:57] AbdullahDiaa commented on #38
This has been fixed with 1.4.0.

[2016-10-27 16:57] #38 closed, assigned to nobody

[2016-10-27 16:58] #44 closed, assigned to nobody

[2016-10-28 05:13] #40 closed, assigned to nobody

[2016-10-28 05:29] AbdullahDiaa commented on #47
Hi @planetcrypton
Can you please attach a copy of your **index.js** and installed plugins?

[2016-10-28 08:44] planetcrypton commented on #47
I'm using the Ember CLI framework. If you're familiar with that I can share
my repository, otherwise I can send you the main JS file generated. It's
readable, but it's rather long and you've got to find your way...

On Fri, Oct 28, 2016 at 7:29 AM, Abdullah Diaa notifications@github.com
wrote:

##

Mvh Sjoerd Kok

[2016-10-30 15:39] hopesourav commented on #42
Hi ...
When Can we expect 1.4.x to be available via npn ?

[2016-10-30 15:40] amrsobhy commented on #42
@hopesourav you can do the following until it's available on npm

`cordova plugin install https://github.com/pushbots/phonegap/`

[2016-11-02 10:02] AbdullahDiaa commented on #49
@Kyvyas The plugin has been updated on npm to 1.4.0 with latest SDKs.
Can you please try the latest version from npm and let me know if the problem persists?

[2016-11-02 10:02] AbdullahDiaa commented on #42
@hopesourav The plugin has been updated on npm to 1.4.0 with latest SDKs.

[2016-11-02 10:04] AbdullahDiaa commented on #47
@planetcrypton can you please make sure you've this plugin installed https://github.com/apache/cordova-plugin-console in order to see console.log output in xcode?

[2016-11-02 10:48] planetcrypton commented on #47
I do :). I've updated to your latest version (last commit 6 days ago)
yesterday evening.
I had quite some issues with Android before the update, but they're all
gone now! The notification:received handler works fine for Android plus everything
else. iOS doesn't seem to call the notification:received handler, still. Everything
else works still fine though (I can see all my other logs).
But since it

[2016-11-02 17:54] hopesourav commented on #42
Hi @AbdullahDiaa and @amrsobhy ,

Guys Thanks! Got the 1.4.0 update via npm.
However, the issue still exists. Maybe I have made some mistake . Could you pls verify the steps -
1. Updated 1.4.x version of Pushbot and Android libraries via SDK manager.
2. Copied the downloaded icons to platforms/android/res folder, and  titled them ic_stat_pushbots_sicon.png instead of white_notification_icon.png
3.

[2016-11-02 17:57] amrsobhy commented on #42
@hopesourav Connect your device to a computer running Android studio and check and share logcat under PB3 tag.

[2016-11-03 15:17] AbdullahDiaa commented on #47
@planetcrypton in xcode 8 you should enable Push Notificaitons:
https://pushbots.com/developer/docs/ios-configuration#Capabilities

[2016-11-04 08:28] planetcrypton commented on #47
That I have - I do receive them, can enter them etc.

On Thu, Nov 3, 2016 at 4:17 PM, Abdullah Diaa notifications@github.com
wrote:

##

Mvh Sjoerd Kok

[2016-11-04 09:34] planetcrypton opened #50 "(un)tagging array in Android"
I'm having this issue since I updated to 1.4.0 with commit [052a9bf10ddbdbfdaa49956ffb0033eea2fc0a4a](https://github.com/pushbots/phonegap/commit/052a9bf10ddbdbfdaa49956ffb0033eea2fc0a4a). And still after a recent update to commit [e1774ea0bf690d6b0edb0d36bb072c5aea8eb15c](https://github.com/pushbots/phonegap/commit/e1774ea0bf690d6b0edb0d36bb072c5aea8eb15c):

When I use the `.tag('someitem')` or `

[2016-11-04 17:20] hopesourav commented on #42
Hi @AbdullahDiaa and @amrsobhy ,

[logcat PB2 log.txt](https://github.com/pushbots/phonegap/files/572192/logcat.PB2.log.txt)

Pls let me know if u guys need anything else!

Regards,
Sourav

[2016-11-05 15:01] hopesourav commented on #42
1 more thing :

Could you pls guide me how to update the pushbot library to 3.0.1 ?

It seems I am using the library pushbots-lib-2.0.13. And updating the plugin to 1.4.0 has not automatically updated my library.

I will be really great if we can schedule a call sometime.

Regards,
Sourav

[2016-11-07 12:18] BarrensZeppelin opened #51 "Trouble building for android after 1.4.0"
When building with cordova for android I get the following error message:
[code]

It's like it can't find the pushbots library in the maven repository.

[2016-11-08 03:13] hopesourav commented on #51
I also had the same problem. I solved it but introduced few more

Step 1 : Unzip and
[pushbot.zip](https://github.com/pushbots/phonegap/files/577218/pushbot.zip)
Copy the attached file in any one of the attached file directory. I frond the file after browsing the mavel site!
Step 2 : Now on build it will throw a multiple DEX error.
Therefore we have to remove the existing 2.x.x library from platfo

[2016-11-08 11:06] amrsobhy commented on #51
Looking into it

[2016-11-08 11:36] AbdullahDiaa commented on #51
@BarrensZeppelin Can you please send me your cordova version and instructions on how to reproduce it with sample project ?

[2016-11-08 11:37] AbdullahDiaa commented on #50
Thanks for reporting the bug, we're fixing it.

[2016-11-08 12:55] hopesourav commented on #51
Hi .. I am using cordova 5.3.3 ... Its not working there :(
Do I need to update Cordova ?

[2016-11-08 14:21] BarrensZeppelin commented on #51
Same problem with this sample application: https://github.com/BarrensZeppelin/pushbotsErrorSample
Using cordova v6.4.0 and android build tools v25.0.0

From scratch:

[code]

[code]

[2016-11-15 18:22] hopesourav commented on #51
Hi guys,

Any updates ?

Regards,
Sourav

[2016-11-15 19:30] AbdullahDiaa commented on #51
@hopesourav @BarrensZeppelin The problem was [a bug in cordova-android 5.1.1 not supporting **jcenter**](https://issues.apache.org/jira/browse/CB-11383)

Please upgrade cordova-android platform and try again.
`cordova platform update android@5.2.2`
or
`cordova platform update android@6.0.0`
The problem should be fixed with **cordova-android 5.2.0+**

Here's the [pull request](https://github.com/ap

[2016-11-15 19:30] #51 closed, assigned to nobody

[2016-11-15 19:55] #50 closed, assigned to AbdullahDiaa

[2016-11-15 19:58] AbdullahDiaa commented on #50
@planetcrypton You should only use **setTags** or **removeTags** methods to add or remove array of tags, not tag/untag.

[2016-11-15 20:10] AbdullahDiaa commented on #42
@hopesourav It seems you're still using old plugin, if you updated to 1.4.x+ you'll automatically on Pushbots library v3

[2016-11-15 20:41] BarrensZeppelin commented on #51
Seems to have fixed the error. Thanks. :+1:

[2016-11-16 04:25] hopesourav commented on #51
Hi All ,

Thank you so much for your quick response.
I have successfully build the application. However, the application keeps on crashing.
I have attached the logcat snapshot of the error.

![new error](https://cloud.githubusercontent.com/assets/8762735/20334702/3bb23ad4-abe2-11e6-9239-588ab7a399c1.png)

Could pls give a quick solution or a work around ?

Regards,
Sourav

[2016-11-16 11:14] hopesourav commented on #51
http://stackoverflow.com/questions/31142325/shared-preferences-on-a-null-object-reference-android

I guess this STOF page talks about the same error. Hope this helps :)

[2016-11-17 10:55] micho777 opened #52 "Ability to send alias and tag in window.plugins.PushbotsPlugin.initialize options"
Hello,
why cant we include Alias and Tags in Options in window.plugins.PushbotsPlugin.initialize?

[2016-11-18 13:54] micho777 opened #53 "window.plugins.PushbotsPlugin.initialize sucess return empty data """
using pushbots-cordova-plugin@1.4.1
cordova tools 6.0.0
android 5.0
upon calling window.plugins.PushbotsPlugin.initialize on Android , the success data returned is empty!!

[2016-11-20 06:09] hopesourav commented on #51
Guys  pls help !!

[2016-11-28 09:36] joanebrown commented on #3
I have this problem too, but with one particularity: Only happens when I try this with the compiled APK. When I use `ionic run android --consolelogs --livereload` works perfectly (even without the timeout)

    var name = "myAlias";
    window.plugins.PushbotsPlugin.on("registered", function(token) {

		$timeout(function() {
			// works well.
			alert(name);

			// doesn't work. Device with blank

[2016-11-28 09:38] joanebrown commented on #3
@huzoorbux

You can do that with:

    window.plugins.PushbotsPlugin.on("notification:clicked", function(data) {
        ...
    });

[2016-11-28 09:40] joanebrown opened #54 ""setAlias()" and "unregister();"doesn't work with compiled APK."

[2016-11-29 16:39] AbdullahDiaa commented on #54
You should use this method instead of unregister:
`window.plugins.PushbotsPlugin.toggleNotifications(false);`

Regarding setAlias, can you please share a copy of the log once you call setAlias method, also which version of the library do you use?

[2016-11-29 17:05] joanebrown commented on #54
@AbdullahDiaa I will try to use `toggleNotifications`, thanks.

Regarding `setAlias` now I using this on my server side instead of the app, but I will try to give you a log :-)

BTW, can I use one alias for multiple devices?? (for users who have multiple devices)

Regards,

[2016-11-30 09:13] joanebrown commented on #54
And why I should use `toggleNotifications(false)` instead of `unregister()`? I use `unregister()` when my users logout of my app.

[2016-11-30 11:34] joanebrown commented on #54
Definitely I think there is something wrong with this plugin:

**Steps I perform:**

**1:** In the devices list of pushbots.com there is no device.

**2:** When I login successfully into my app, I use `initialize()`:

    window.plugins.PushbotsPlugin.initialize(MY_APPLICATION_ID, {
        "android": {
            "sender_id": MY_SENDER_ID
        }
    });

**3:** Then, I register `received` and

[2016-12-01 19:33] #53 closed, assigned to nobody

[2016-12-12 09:12] #54 closed, assigned to nobody

[2016-12-25 08:31] sultanahmedkhan opened #55 "Pushbot.on and Pushbot.getRegistrationId callbacks are lost and not giving values"
callback in window.plugins.PushbotsPlugin.on  and window.plugins.PushbotsPlugin.getRegistrationId is not working . My device has registered on the pushbot but in my app i am not getting token.
i am using pushbot version 1.4.1

window.plugins.PushbotsPlugin.on("registered", function(token){
    console.log("Registration Id:" + token);
});

window.plugins.PushbotsPlugin.getRegistrationId(function(to

[2016-12-25 08:38] sultanahmedkhan commented on #24
callback in window.plugins.PushbotsPlugin.on  and window.plugins.PushbotsPlugin.getRegistrationId is not working . My device has registered on the pushbot but in my app i am not getting token.
i am using pushbot version 1.4.1

window.plugins.PushbotsPlugin.on("registered", function(token){
    console.log("Registration Id:" + token);
});

window.plugins.PushbotsPlugin.getRegistrationId(function(to

[2016-12-27 13:31] AbdullahDiaa commented on #55
@sultanahmedkhan

Please use latest version of the SDK:

You should be able to get user id and reg id with every run using this method:

[code]

[2016-12-27 13:31] #55 closed, assigned to nobody

[2017-01-14 21:26] planetcrypton opened #56 "cydia"
When the app starts up, I see this in my XCode log.
[code]
Doing a grep, this seems most likely to come from from a Pushbots source file.
[code]
Is that correct? What does it actually do?

[2017-01-14 21:36] planetcrypton opened #57 "initialize and resetting tags?"
I'm experiencing an issue where the tags set by an app, seem to get reset when the app starts up (not resume).
Could it be that calling the initialize() method, resets the tags set at the Pushbots server, or is that out of the question :) ?

[2017-01-18 02:22] jamminjames opened #58 "Clicked notifications not being recorded, Alias not being set, etc"
Not that anyone seems to be minding the store here, but I'll ask anyway. Our apps' clicked notifications are not being recorded, and the Alias is not being set, among other problems.

The example shown for the code is unclear as to where it belongs. Should it all go in the index.js file, inside the `onDeviceReady: function()` section?

I have these on the app's index page in a script, but it doesn

[2017-01-18 11:48] AbdullahDiaa commented on #56
It checks if the device is jailbroken or not to send notifications based on jailbreak status.
The warning above can be totally ignored.

[2017-01-18 11:48] AbdullahDiaa commented on #57
The problem should be resolved now.

Can you please try agian?

[2017-01-18 11:48] #57 closed, assigned to nobody

[2017-01-18 12:43] meMuhammadkamal commented on #58
Hi jamminjames,

Sometimes if you are using Cordova version that is different than the sample App it won't work as expected so to make sure that the App works fine just create new App using your current version of cordova.

-Then Inside onDeviceReady you should add this line:

`window.plugins.PushbotsPlugin.initialize("App_id", {"android":{"sender_id":"sender_id"}});`

[2017-01-18 20:54] jamminjames commented on #58
It's the same Cordova version, and I do have that line in index.js, and the correct App ID, etc are in there. And it is working, as far as devices getting registered.

However, as I said, clicked notifications are not being recorded, and the Alias is not being set, among other problems, like tags. So, the question is, where do those lines go, exactly? Lines shown in your instructions, such as:
`wi

[2017-01-18 22:11] planetcrypton commented on #57
Confirmed - problem solved :)

[2017-03-15 22:22] thomas-alrek opened #59 "Ability to get notifications when app not running."
If the app is closed (not running in the background), is there a way to get the notification object if a user opens the notification (and thus launching the app)?

[2017-05-04 09:36] ViaFabula opened #60 "Missing Push Notification Entitlement"
Hello,

We use Pushbots to manage our application notifications, and since september, Apple notifies us that our IOS builds does not enable push notifications.
The work-around is well known : open the XCode project and check the "Enable Push Notifications" box in project settings.

Our issue is that we are migrating to hosted Continuous Integration solution (that manage all the build and publishin

[2017-05-19 12:53] kevin-finesse commented on #58
I've just been working on an app using this plugin and this is what worked for me - all of this code going inside the onDeviceReady: function() section
`
window.plugins.PushbotsPlugin.initialize("xxx", {"android":{"sender_id":"yyy"}});
window.plugins.PushbotsPlugin.setAlias("TEST");
window.plugins.PushbotsPlugin.on("notification:received", notification_received);
window.plugins.PushbotsPlugin.on("

[2017-05-26 19:03] raphaelmonte opened #61 "PushbotsPlugin.getRegistrationId not working in android"
Hi, i'm using build.phonegap with

`<preference name="phonegap-version" value="cli-6.3.0"/>`
`<gap:plugin name="pushbots-cordova-plugin" spec="1.4.7" source="npm" />`
`<preference name="android-build-tool" value="gradle"/>`

and code
`
PushbotsPlugin.initialize(APPLICATION_ID,  {'android': {'sender_id': GOOGLE_SENDER_ID}});
PushbotsPlugin.getRegistrationId((token: string) => {
    console.log(toke

[2017-06-23 12:12] physox commented on #60
We have the same issue here, but a possible solution is in sight:
You could use a cordova hook, which creates an entitlements-file.

iTunes connect needs this to recognize if the app is running in development or in production mode.

[2017-07-12 12:34] amrsobhy commented on #59
@thomas-alrek Which platform are you testing this on? Android or iOS?

[2017-07-12 22:46] thomas-alrek commented on #59
Both Android and iOS

[2017-07-24 20:05] planetcrypton commented on #58
I believe it's a platform version related issue. I all of a sudden can no longer listen to on-notification:clicked events after I upgraded (both cordova and) platform-ios.
I do receive on-notification:received.
I'm using:
Cordova 7.0.1
ios 4.4.0

[2017-08-05 10:40] jamminjames commented on #58
Kevin, you say, "the notification_received(data) and notification_clicked(data) functions then simply receive the data when a notification is received or clicked on" ... where are those functions? Is that something we should have in the index.js file, or is that part of the app installed with the config line in Phonegap Build?

[2017-08-14 08:04] planetcrypton commented on #58
@jamminjames : In @kevin-finesse 's example `notification_received` and `notification_clicked` are the event-handlers (functions) for resp. on-notification:received and -notification:clicked events.
To be more exact the names of the variables referring to those handlers. You could use an anonymous function if you like :)

[2017-08-14 08:58] jamminjames commented on #58
@planetcrypton: Thanks. I wonder if you could tell me the difference in the result of the following lines of code, if they are placed inside the onDeviceReady: function() section. The first one is recommended by Kevin, earlier in this thread, and the other I've seen recommended elsewhere:

`window.plugins.PushbotsPlugin.on("notification:clicked", notification_clicked);`

[code]

The second one wil

[2017-08-14 10:03] planetcrypton commented on #58
@jamminjames : It's the exact same thing, look:
[code]
It's a matter of preference / convenience, whether you'd like to reuse the handler elsewhere, make your code more readable or not - as long as you can access the `notification_clicked`, in the 'scope' you're attaching it to the event

[2017-08-14 18:50] jamminjames commented on #58
I'm still confused, though, because in your example, you're setting the variable, whereas if I only put in the line `window.plugins.PushbotsPlugin.on("notification:clicked", notification_clicked);` without setting the variable, it wouldn't do the same thing. Unless, since I'm using the pushbot plugin, they already have that variable set in their code. Correct?

[2017-08-15 11:05] planetcrypton commented on #58
If you're using `window.plugins.PushbotsPlugin.on("notification:clicked", notification_clicked);` in your `onDeviceReady`-handler function, the variable `notification_clicked` will have to be defined somewhere: either in your `onDeviceReady` function's scope, or global scope (if you're not importing it as a module...).
You asked whether PushBots has defined it in their plugin: I haven't checked, b

[2017-08-16 00:37] jamminjames commented on #58
Okay, thanks for the clarification. One last question, if I may, do you happen to know what this does? I have it in the deviceready function, inside the `notification:received` sub-function, as I saw it recommended somewhere:
`window.plugins.PushbotsPlugin.done(data.pb_n_id);` - does this report info to Pushbots? Before I started using it, Pushbots didn't seem to be getting info on how many had re

[2017-08-16 07:39] planetcrypton commented on #58
What it does, is making it a 'silent notification' (only available in iOS). I've never used it myself and thus don't know too much about it, but happen to read it in the readme file of this repo (##Usage 2.)

[2017-08-16 16:25] jamminjames commented on #58
Ah, I see. Thanks for all your help -- it's hard to get any answers from the pushbots folks on their site.

[2017-08-17 06:17] planetcrypton commented on #58
Long live the community!

[2017-08-27 23:56] Sheshank-s opened #62 "Question!"
Can someone give me the code to send an android notification through pushbots in js

[2017-08-28 00:01] amrsobhy commented on #62
```npm install pushbots ```

then

[code]

questions should be directed here: https://github.com/pushbots/pushbots-nodejs

[2017-08-28 00:02] #62 closed, assigned to nobody

[2017-08-28 00:08] Sheshank-s commented on #62
Did you mean npm?

[2017-08-28 00:22] Sheshank-s opened #63 "plugin source unsupported: com.pushbots.push from plugins.cordova.io"
Got this message when i imported my app to phonegap build

[2017-10-05 10:37] fabianglace opened #64 "Build Error on Cordova"
I'm getting the following error after adding pushbots. I've use pushbots before in previous projects but now seems to be something new..

Cordova 5.4.1
Platform Android 5.2.2

A problem occurred configuring root project 'android'.

Could not resolve all dependencies for configuration ':_debugCompile'.
Could not find any matches for com.google.android.gms:play-services-gcm:+ as no versions of com.g

[2017-10-11 11:05] birfincankafein commented on #60
Now I faced this issue and I am not able to open Xcode project and set values because Im using JenkinsCI for build. And no, actually this should not be closed. Pushbots plugin should use cordova hooks inside plugin because this issue related with Pushbots Cordova side and solve this problem inside plugin.

[2017-10-13 14:04] birfincankafein opened #65 "Cannot register events before initialize"
Due to the this._events variable initialize, cannot register events before initialize, but **register** event should be registered before initialize

[2017-10-20 14:06] ahmedelrefaiy opened #67 "Click on received notification reopen application even if it's already running"
when i click on received notification >> it always reopens the application again, so if i aleady have instance of my application opened, it will be removed and application starts again

i think this error happed related to these lines in the plugin

//Start Launch Activity
String packageName = context.getPackageName();
Intent resultIntent = new Intent(context.getPackageManager().getLaunchIntentFor

[2017-10-30 10:50] jfrubio commented on #24
Hi.
Did you fix the problem? Wish version of pushbots-cordova-plugin do you use? And phonegap-version plugin version?
My device appears registered on pushbots panel but PushbotsPlugin.on("registered"... never occurs.
Thanks

[2017-11-02 14:15] lricoy commented on #24
I have not. The project was discontinued and I haven't tried again ever since.

[2018-01-02 11:46] KevinIteaal opened #68 "initialization fails on IOS"
Hi,

On IOS devices the initalization fails due to a return "null" from the native side of the plugin. As far as i can trace it logs "null" on pushbots.js line 73.

This prevents the registered event from being triggered.

[2018-01-08 18:34] sarbona opened #69 "Avoid reloading cordova app when clicking a push notification"
I am using plugin 1.4.7 for android and when I click a push in the notification bar, the cordova app reload again.

That happens even when the app is in foreground. That is a big problem, because if the user is introducing data in the app, he will lose all the data if the cordova app is reloaded again.

Can we avoid reloading the cordova app?

We need to handle the clicked push with the "notificat

[2018-01-08 19:10] sarbona opened #70 "getRegistrationId callback never called"
I am using plugin 1.4.7 for android, and when calling the getRegistrationId nothing happens.

I have tried debugging what is happening, and when executing this:

window.plugins.PushbotsPlugin.getRegistrationId(function(token){ console.log("token received:" + token); });

The console is only showing:

PB3: execute: action=getRegistrationId
INFO:CONSOLE(73): "cTEJveMITb...", source: file:///android_

[2018-01-08 19:14] sarbona opened #71 ""users:ids" event not fired when the app is reloaded by clicking a push notification"
I am using plugin 1.4.7 for android, and when clicking a push a notification, the cordova app is reloaded, but in this reload, the app is not firing the event "users:ids" as when the app is started manually. It only sends the "notification:clicked" event.

PB3: execute: action=initialize
PB3: Entered custom init function 56e2ac86177959441c8b4567549460993070
PB3: Loglevel: DEBUG
PB3: PushBots Libra

[2018-01-19 01:08] AbdullahDiaa commented on #70
solved in 1.4.8

[2018-01-19 01:09] AbdullahDiaa commented on #69
solved in 1.4.8

[2018-01-19 18:12] sarbona commented on #69
Hi Abdullah,

I have updated the plugin to 1.4.8, and in the first rebuild of the app,
the build has failed because the new plugin needs min SDK to be 15 and
we had 14.

That change is acceptable, but after updating the min sdk, the build
fails compiling the PushbotsPlugin.java file in line 79:

Pushbots.sharedInstance().idsCallback(new Pushbots.idHandler() {

The compiler cannot resolve the "idsC

[2018-01-24 15:19] sarbona opened #72 "Android 1.4.8 not compiling"
I have updated the plugin to 1.4.8, and in the first rebuild of the app, the build has failed because the new plugin needs min SDK to be 15 and we had 14.

That change is acceptable, but after updating the min sdk, the build fails compiling the PushbotsPlugin.java file in line 79:

Pushbots.sharedInstance().idsCallback(new Pushbots.idHandler() {

The compiler cannot resolve the "idsCallback" and t

[2018-02-05 08:55] birfincankafein opened #73 "iOS notifications not showing while app is running"
Im using my fork of pushbots cordova because you merged my PR but as I saw didnt released any new version. But branches are identical. I rebased my fork.

In iOS, notifications are not showing event 'beeping' while app is running. I am not calling 'window.plugins.PushbotsPlugin.done(data.pb_n_id);' inside 'notification:received' callback because as I saw it silencing notifications.
How can I show

[2018-02-05 17:48] sarbona commented on #72
With plugin android 1.4.9 the app is compiling again.

[2018-02-05 17:59] sarbona commented on #69
This issue is not solved. Tested in 1.4.9. The problem remains.

When clicking the push in the notification area, the log shows this:

D/PB3: action=com.pushbots.MSG_OPEN
D/PB3: APPID:xxxxxxxxxxxxxxxxxxxxxxxxxx (hidden)
I/PB3: POST 2/pushOpened
I/PB3: Params: {"date":"2018-02-05T17:39+0000", ... }
D/AppTracker: App Event: stop
D/SystemWebViewEngine: CordovaWebView is running on device made by: One

[2018-02-05 18:02] sarbona commented on #67
I have the same problem.

I even opened a new issue #69 which has been closed but the problem remains.

[2018-02-05 18:06] sarbona commented on #70
This issue is not solved. Tested in 1.4.9.

The same exact problem remains.

[2018-02-05 18:07] sarbona commented on #71
This issue is not solved. Tested in 1.4.9.

The same exact problem remains.

[2018-02-19 01:25] #72 closed, assigned to nobody

[2018-02-19 01:26] #67 closed, assigned to nobody

[2018-02-20 17:18] sarbona opened #74 "Android plugin 1.5.0 doesn't compile"
We have a project with:
- Android studio 3.0
- minSdkVersion 15
- targetSdkVersion 23
- build tools 27
- cordova 8.0.0
- cordova android 5.2.0

With the 1.4.9 plugin the project is compiling without problems.

After updating to 1.5.0 the project doesn't compile anymore. Within Android Studio I get a generic gradle error. With "cordova build" I get the following error:

JAVA_HOME=C:\Program Files\j

[2018-02-20 19:12] AbdullahDiaa commented on #74
Can you please try updating cordova-android to **6.2.0+** or targetSdkVersion to 26?
meanwhile i'm investigating the issue with 5.2.0

You can try
[code]
then try to build again.

[2018-02-20 20:14] #74 closed, assigned to nobody

[2018-02-20 23:08] #56 closed, assigned to nobody

[2018-02-20 23:08] #58 closed, assigned to nobody

[2018-02-20 23:08] #59 closed, assigned to nobody

[2018-02-20 23:08] #60 closed, assigned to nobody

[2018-02-20 23:08] #61 closed, assigned to nobody

[2018-02-20 23:08] #63 closed, assigned to nobody

[2018-02-20 23:08] #64 closed, assigned to nobody

[2018-02-20 23:08] #65 closed, assigned to nobody

[2018-02-20 23:08] #68 closed, assigned to nobody

[2018-02-20 23:08] #69 closed, assigned to nobody

[2018-02-20 23:08] #70 closed, assigned to nobody

[2018-02-20 23:08] #71 closed, assigned to nobody

[2018-02-20 23:08] #73 closed, assigned to nobody

[2018-02-21 01:07] #52 closed, assigned to nobody

[2018-02-21 11:26] anarfox opened #75 "notification:clicked not firing on iOS 10 & 11 if resuming the app from background"
notification:clicked only fires when clicking the notification if the app isn't already in the background.

If it is, notification:received is fired instead but that isn't an option since this is also called when receiving a push if the app is open and you might want a different behaviour for that scenario.

[2018-02-21 12:25] AbdullahDiaa commented on #75
@anarfox when application is open you received should be fired first, then you'll get a notification inside the app, if you click on open, clicked will be then fired.

Can you please send me exact scenario to reproduce your problem and the fix proposed?
What do you mean by " isn't already in the background" ? do you mean closed completely or on foregound or both?

[2018-03-03 01:48] jamminjames opened #76 "How to allow users to toggle notifications on or off?"
I am trying to create a toggle button to allow users of our app to control notifications. I have this, but it's not working:

[code]
The html is a jquery mobile flipswitch:
[code]

Any help getting this to work would be appreciated.

[2018-06-15 17:38] sarbona opened #77 "ios plugin not sending click notification when app is opened"
We are testing this with ios platform 4.5.4 and ios Plugin 1.5.13 and ios 10.3.3

When the app is closed, and a push is clicked in the notification bar, the app starts and the plugin sends the "notification:clicked" to the app. It is sent before the "user:ids" event. That complicates the event management but we can handle it.

When the app is opened in background, and a push is clicked in the noti

[2018-06-28 23:42] AbdullahDiaa commented on #77
1. Regarding the executing notification clicked before user:ids, we'll update next version to make user:ids event executes first.

2. notification:clicked is working fine when app in background, can you please send me a copy of xcode logs when you open the notification from background?

3. Clicking on open sends a request to PushBots, however it won't execute the clicked event.
Can you please send

[2018-07-04 11:37] sarbona commented on #77
In the app we have the following callbacks:

window.plugins.PushbotsPlugin.on("notification:clicked", function(data) {
    console.log("pushbots init clicked data1 " + JSON.stringify(data));
    ...

window.plugins.PushbotsPlugin.on("notification:received", function (data) {
    console.log("pushbots init  received data" + JSON.stringify(data));
    ...

I did a test with the app in background and

[2018-07-04 11:48] sarbona commented on #77
You asked us too to give you more information about case 3:

When the app is in foreground and the app receives a push, it does not show a notification in the ios status bar anymore. It opens a dialog with two options "open" and "cancel".

In our case, the pushes are normally news, and if you click "open" you should go to that news in the app, but if you click cancel, you will stay in the view you

[2018-07-16 15:57] #77 closed, assigned to AbdullahDiaa

[2018-07-16 16:00] AbdullahDiaa commented on #75
Fixed in 1.5.15

[2018-07-16 16:00] #75 closed, assigned to nobody

[2018-10-12 19:43] ahmedelrefaiy opened #78 "Build failed with message "Multiple dex files define" after install "admobpro" plugin with "pushbots" plugin"
after install "**admobpro**" plugin [https://github.com/floatinghotpot/cordova-admob-pro](url)  with pushbots, i get this error "**Multiple dex files define Lcom/google/android/gms/common/api/internal/zza**"

according to "**admobpro**" plugin, "**pushbots**" plugin have an error with using "com.google.playservices"- this link contain the case: [https://github.com/floatinghotpot/cordova-admob-pro/

[2018-10-12 19:48] ahmedelrefaiy commented on #78
this is the whole error message:

1>MSBUILD : cordova-build error : Execution failed for task ':transformClassesWithDexForDebug'.
1>MSBUILD : cordova-build error : > com.android.build.api.transform.TransformException: com.android.ide.common.process.ProcessException: java.util.concurrent.ExecutionException: com.android.dex.DexException: Multiple dex files define Lcom/google/android/gms/common/api/i

[2018-10-21 20:25] ahmedelrefaiy commented on #78
i'm waiting your reply @AbdullahDiaa

[2018-11-14 13:57] joerischepers commented on #78
Got the same problem when using pushbots plugin with cordova and addmob-pro...
Any solution yet?

[2018-12-27 19:00] AbdullahDiaa commented on #78
This should be fixed with 1.6.2

[2018-12-27 19:00] #78 closed, assigned to nobody

[2019-01-02 20:42] OUSoonerTaz commented on #61
Is there actually a resolution to this?  I'm still not getting the token for Android and I'm using v 1.6.2 of the pushbots plugin.

Registering a new Android device is working because I can see the profiles and their tokens being added to my user dashboard and it is successfully tracking the "last seen" column.  I really need to get that device token returned.

[2019-01-03 14:53] OUSoonerTaz opened #79 "GetRegistrationID method/callback never gets called v1.6.2"
Apple/IOS is working fine.

Android registration is working because I can see the profiles and their tokens being added to my user dashboard and it is successfully tracking the "last seen" column.

The callback method for retrieving the registration never gets called.  I've tried two different methods and neither one works:
In the DeviceReady method:
		window.plugins.PushbotsPlugin.on('user:ids',

[2019-01-04 13:18] OUSoonerTaz commented on #79
Turns out that you can't have both methods in the code at the same time.  The getRegistrationId method is deprecated but, just having that in there prevented the .on("user:ids" method from firing.  Once getRegistrationId was removed, the other started working.

[2019-01-04 13:18] #79 closed, assigned to nobody

[2019-10-14 12:38] sandstrom commented on #76
@jamminjames Most people would implement this server-side, i.e. keep track of users that has disabled push and don't send them any.

[2019-10-14 12:38] sandstrom opened #80 "Support for Capacitor"
Do you have plans to support Capacitor in PushBots?

It's a spiritual successor to Cordova, built by Ionic. With some adjustments this SDK should be fairly easy to adapt so that it'll work with Capacitor.

More details here:
https://capacitor.ionicframework.com/docs/plugins

[2019-12-16 19:53] zesschrno opened #82 "Detect if its active/registered"
In the documentation I cannot find a method that returns a Boolean value in which it detects if the pushbots instance is active or if the device is registered.

Something like this:

`window.plugins.PushbotsPlugin.isInitialized() // returns a boolean value or promise`
`window.plugins.PushbotsPlugin.isRegistered() // returns a boolean value or promise`

[2020-01-01 13:44] ibrahimAlii commented on #82
Hi @zesschrno sorry for late response.
Your request will published in the next release soon.

Thank you.

[2020-02-04 22:45] zesschrno opened #83 "Error code 65 on ios"
1.6.14 works on phonegap 8.0
1.6.19 fails on phonegap 8.0 and phonegap 9.0

[2020-02-06 17:02] #82 closed, assigned to nobody

[2020-02-07 12:31] AbdullahDiaa commented on #83
Hi @zesschrno
We're investigating the issue right now.

[2020-02-07 15:09] FrankieJLyons commented on #83
Having the same issue right now

[2020-02-07 16:57] AbdullahDiaa commented on #83
@FrankieJLyons can you please share error logs you're getting and also cordova/phonegap version you're using ?

[2020-02-07 17:02] AbdullahDiaa commented on #83
@FrankieJLyons @zesschrno which `cordova-ios` version do you use in your application ?
what happens after trying `cordova platform update ios`

[2020-02-08 11:24] FrankieJLyons commented on #83
@AbdullahDiaa I am using phonegap version 9 (PhoneGap (iOS / Android / Windows)
cli-9.0.0 (5.0.1 / 8.0.0 / 7.0.0)) I have reverted pushbots to 1.6.14 and was able to build and send test notifications (didn't try a campaign)

[2020-02-10 09:07] AbdullahDiaa commented on #83
@FrankieJLyons can you please try to update `cordova-ios` to 5.1.1 and let me know if the problem perists ?

[2020-02-10 09:23] AbdullahDiaa commented on #83
This error is an error code from Xcode that can be caused by provisioning issues or outdated cordova dependencies. To fix this error first make sure a provisioning profile has been generated using the above instructions and then try to run the app from Xcode.

If this does not fix the error then run the following commands:

[code]
Once these commands have been ran a fresh build can be done.

[2020-06-10 00:19] jordan-thenumber commented on #82
any chance this will ever get released?

[2020-10-21 22:39] rafita78 opened #84 "notification received does'nt call when compiled with cordova"
hi, when the app is compiling for android using cordova the notification arrives but the receiver is never called

[2021-01-06 12:01] cyrotek opened #85 "notification:clicked on closed app + Button Label"
Hey, I'm having a Problem when the app is completly closed and I recieve a notification. Once I click, it doesn't seem to fire said event and it doesnt redirect me to the required detail site I pass on in payload.

Also, when I recieve the notification while being inside the app, the prompt has english button labels (Cancel / Open), how to localize those??

[2022-11-30 04:33] lkellett-tfo opened #86 "App crashes when targeting version 31 and above when hitting "notification:received""
Hi, I've got an issue when running the app with target SDK 31 / Android 12. The app builds fine, but crashes almost immediately after receiving a notification. A notification does not actually appear, but a breakpoint in window.plugins.PushbotsPlugin.on("notification:received", function (data) {}) was hit.

Android Studio: 2021.3.1 Patch 1 (Mac Intel)
minSdkVersion 24
targetSdkVersion 31
Cordova 1